.home-title {
    .name {
        color: var(--primary-color);
        font-size: 5rem !important;
        text-align: center;
        font-weight: 400 !important;
        font-family: 'Bungee Hairline', cursive !important;
    }

    .title {
        color: var(--primary-color);
        font-size: 4rem !important;
        text-align: center;
        font-weight: 400 !important;
        font-family: 'Bungee Hairline', cursive !important;
    }

    .sub-title {
        color: var(--primary-color);
        font-size: 3rem !important;
        text-align: center;
        font-weight: 500 !important;
        font-family: 'Quicksand', sans-serif !important;
    }
}

.home-text {
    width: 100%;
    margin: 0 auto;

    .text {
        color: var(--primary-color);
        font-size: 1.1rem !important;
        text-align: justify;
        text-justify: auto;
        white-space: pre-line;
        font-weight: 500 !important;
        font-family: 'Quicksand', sans-serif !important;
        background: -webkit-linear-gradient(var(--primary-color), var(--secondary-color));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}