@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Quicksand:wght@300;500&display=swap');

@import url('./stars.css');

:root {
  --primary-color: #e0e1dd;
  --secondary-color: #778da9;
  --third-color: #415a77;
  --accent-color: #1b263b;
  --background-color: #0d1b2a;
  --primary-color-rgb: 224, 225, 221;
  --secondary-color-rgb: 119, 141, 169;
  --third-color-rgb: 65, 90, 119;
  --accent-color-rgb: 27, 38, 59;
  --background-color-rgb: 13, 27, 42;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  height: 4rem;
  background-color: var(--third-color);
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;

  ul {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin: 12px;

      a {
        text-decoration: none;
        display: block;
        position: relative;

        p::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 0.1em;
          background-color: var(--accent-color);
          opacity: 0;
          transition: opacity 300ms, transform 300ms;
        }

        p:hover::after,
        p:focus::after {
          opacity: 1;
          transform: translate3d(0, 0.2em, 0);
        }

        p::after {
          opacity: 1;
          transform: scale(0);
          transform-origin: center;
        }

        p:hover::after,
        p:focus::after {
          transform: scale(1);
        }

        p.active {
          color: var(--accent-color);
        }

        p.inactive {
          color: var(--primary-color);
        }
      }
    }
  }
}

.container {
  margin: 4rem auto 4rem auto;
  max-width: 33%;
  padding: 24px;
  box-shadow: 0 0 24px 24px rgba(var(--background-color-rgb), 0.8);
  background-color: rgba(var(--background-color-rgb), 0.8);

  @media only screen and (max-width: 900px) {
    max-width: 100%;
  }
}

.container-title {
  .name {
    color: var(--primary-color);
    font-size: 5rem !important;
    text-align: center;
    font-weight: 400 !important;
    font-family: 'Bungee Hairline', cursive !important;
  }

  .title {
    color: var(--primary-color);
    font-size: 4rem !important;
    text-align: center;
    font-weight: 400 !important;
    font-family: 'Bungee Hairline', cursive !important;
  }

  .sub-title {
    color: var(--primary-color);
    font-size: 3rem !important;
    text-align: center;
    font-weight: 500 !important;
    font-family: 'Quicksand', sans-serif !important;
  }
}

.container-text {
  width: 100%;
  margin: 0 auto;

  .text {
    color: var(--primary-color);
    font-size: 1.1rem !important;
    text-align: justify;
    text-justify: auto;
    white-space: pre-line;
    font-weight: 500 !important;
    font-family: 'Quicksand', sans-serif !important;
    background: -webkit-linear-gradient(var(--primary-color), var(--secondary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}