.resume-section {
  min-height: 50px;
  width: 100%;
  .section {
    color: var(--primary-color);
    font-size: 2rem !important;
    text-align: left;
    font-weight: 500 !important;
    font-family: 'Quicksand', sans-serif !important;
  }
}

.resume-title {
  min-height: 50px;
  width: 100%;
  .title {
    color: var(--primary-color);
    font-size: 1.5rem !important;
    font-weight: 500 !important;
    font-family: 'Quicksand', sans-serif !important;

    &.left {
      float: left;
    }

    &.right {
      float: right;
    }
  }
}

.resume-sub-title {
  min-height: 50px;
  width: 100%;

  .sub-title {
    color: var(--primary-color);
    font-size: 1.2rem !important;
    font-weight: 500 !important;
    white-space: pre-line;
    font-family: 'Quicksand', sans-serif !important;

    &.left {
      float: left;
    }

    &.right {
      float: right;
    }
  }
}

.resume-text {
  min-height: 50px;
  width: 100%;

  .text {
    color: var(--primary-color);
    font-size: 1rem !important;
    text-align: justify;
    text-justify: auto;
    white-space: pre-line;
    font-weight: 500 !important;
    font-family: 'Quicksand', sans-serif !important;
  }
}

.divider {
  margin: 12px 0 !important;
  background-color: var(--primary-color);
  &.large {
    width: 100%;
  }
  &.medium {
    width: 40%;
  }
}
